[user]
	name = Thomas Tuvignon
	email = thomas.tuvignon@ultro.fr
	signingkey = F2E9E6EF7221664F

[core]
	excludesFile = /Users/thomastuvignon/.gitignore

[alias]
	ca = commit --amend --no-edit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	pf = push --force-with-lease
	rh = reset --hard
	ss = status -sb

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[push]
	autoSetupRemote = true

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
	trustExitCode = true
