[user]
	name = Thomas Tuvignon
	email = thomas.tuvignon@ultro.fr
	signingkey = F2E9E6EF7221664F

[core]
	excludesFile = /Users/thomastuvignon/.gitignore
	editor = nvim
	pager = delta

[alias]
	aa = add -A
	ap = "! git add -N . ; git add -p"
	ca = commit --amend --no-edit
	fd = "! git fetch -p ; git branch -v | grep 'gone' | awk '{print $1}' | xargs git branch -D"
	lg = log --oneline --graph --decorate --all
	pf = push --force-with-lease
	rh = reset --hard
	si = stash --include-untracked
	ss = status -sb

[init]
	defaultBranch = main

[commit]
	gpgsign = true

[push]
	autoSetupRemote = true

[pull]
	rebase = true

[column]
	ui = auto

[branch]
	sort = -committerdate

[fetch]
	prune = true
	pruneTags = true
	all = true

[rebase]
	autoSquash = true
	autoStash = true
	rebaseMerges = true
	updateRefs = true

[merge]
	conflictStyle = zdiff3
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
	trustExitCode = true

[rerere]
	enabled = true
	autoupdate = true
	
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
	diffFilter = delta --color-only

[help]
	autocorrect = prompt

[delta]
	navigate = true
