[user]
	name = Thomas Tuvignon
	email = thomas.tuvignon@ultro.fr

[core]
	excludesFile = /Users/thomastuvignon/.gitignore

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	st = status

[init]
	defaultBranch = main

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
	trustExitCode = true
